body {
	background-color: mistyrose;
}

#container {
	width: 620px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

p, img {
	width: 300px;
	height: 300px;
	border: 1px solid gainsboro;
	text-align: center;
	line-height: 300px;
	cursor: pointer;

}

#ol {
	width: 69%;
}

#p2 {
	width: 30%;
}